# Data Manipulation &- Ingestion
pandas
requests
numpy

# Database
psycopg2-binary

# Data Science & Modeling
scikit-learn        # For IsolationForest
prophet             # For Forecasting (or use pmdarima for SARIMA)
# pmdarima

# Pipeline Orchestration
prefect

# Visualization
streamlit
